.App {
  background-image: url(./images/iw07uafl4bk31.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  width: 100%;
  height: 100%;
}

.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.form-container {
  width: 400px;
  margin: auto;
}

.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
  background-color: #00b5ad;
}